[project]
name = "hyperloglog"
version = "0.0.11"
authors = ["Frank Denis <github@pureftpd.org>"]
description = "Hyperloglog implementation in Rust"
license = "ISC"
homepage = "https://github.com/jedisct1/rust-hyperloglog"
repository = "https://github.com/jedisct1/rust-hyperloglog"
edition = "2018"

[lib]
name = "hyperloglog"
path = "src/hyperloglog/lib.rs"

[dependencies]
bytecount = "0.6"
rand = "0.7"
siphasher = "0.3"
